.coinslisttable {
    td {
        font-size: 14px;
    }
    .coin-icon {
        width: 22;
        height: 22;
        margin-right: 10;
    }
    .down {
        color: red;
    }
    .up {
        color: green;
    }
}
